<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You created and are now following "<%= @post.title %>". Any time there is an update you will recieve an email informing you of the changes.</h1>
    <p>
      <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
