<h1>About Bloccit</h1>
<p>Created by: Me</p>
<button type="button" name="button"><%= link_to "Follow me", "https://www.facebook.com" %></button>
<div class="social-btn">
  <a href='#' class="social-btn">Button</a>
</div>
<button type="button" class="social-btn">Click Here</button>
<%= link_to "Follow me", "https://www.facebook.com/trybloc", class: "social-btn" %>
