h1 {
  color: red;
}
.social-btn {
   border: 5px solid #94082f;
   background: #3e779d;
   padding: 20px 40px;
   border-radius: 29px;
   color: #6b1506;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
}
